
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-xl-2">
            <img src="../../../assets/FotoCarnet AF2022cuadrada.png"class="img-fluid" id="fotodeperfil">
        </div> 
       
        <div class="col-xs-12 col-sm-2 col-md-2 col-xl-2">
            <p id="nombre">Ferrera Adrian Gastón</p>
            <p id="profesion">Full Stack Developer Jr</p>
        </div>   

    <div class="col-xs-12 col-sm-8 col-md-8 col-xl-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis at voluptatem ipsam, atque quasi maxime sint 
                impedit. Exercitationem sunt, id, nemo placeat accusantium perferendis assumenda minus at maiores iure veniam.</p>
        </span>
    </div>
    

